.home-page-container {
  width: 100%;
  background-color: #f44336;
  height: 100vh !important;
  max-height: 90vh !important;
  color: #fff !important;
}

.home-page-container h2 {
  font-weight: 400;
  text-align: center;
  font-size: 18px;
}

.home-page-container button {
  color: #fff !important;
  background-color: black !important;
  padding: 12px 24px !important;
  font-size: 16px !important;
  user-select: none;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
